extends base.pug

mixin content-block(logo_url, title, url, description, external=false, news=false)
  a.implicit(href=url)
    div.content-block
      div.project-logo.alpha.rounded
        img(src=logo_url)
      div.project-description-wrapper.alpha.rounded
        div.description
          h5.project-title
            span.a(href=url)
              =title
            if external == true
              img.external-link(src="/static/img/external_link.png")
            if news == true
              span.new-project
                | N E W 

          sspace
          sspace

          span.big
            =description

block content
  header.big
    div.svg#logo
      img(src="/static/svg/circle.svg")
    div.fline
      div.me
        h1
          | Я
      div.line
        svg(width="100%" height="100%")
          rect(fill="#000" width="100%" height="100%")
    h2
      | Адам Арутюнов

  mspace

  div#background
    div.svg#oval
      img(src="/static/svg/oval.svg")
    div.svg#line
      img(src="/static/svg/line.svg")
    div.svg#hexagon
      img(src="/static/svg/hexagon.svg")

  div#main
    span.big
      | Пишу код и текст. Живу в Ростове-на-Дону. 
      a.dashed(href="#contact")
        |Написать

    
    #code
  
    +content-block("/static/img/district61/logo.png", 
        "District 61", 
        "/district61", 
        "Геймифицированная система для улучшения благоустройства города — с помощью деления его на нанорайоны и создания между ними конкуренции. Разработана на «Цифровых инновациях — 2021».",
        false, true)
    +content-block("/static/img/circle_negative.png", 
        "Адам Арутюнов поднимается до мидла", 
        "https://t.me/cdarr", "Месяц назад я подумал, что хватит уже быть новичком, и решил подняться до мидла за полгода. Канал в Телеграме про мой прогресс, ну и наблюдения вообще за тем, что творится.", 
        true)
    +content-block("/static/img/pycon/logo.png", 
        "Пáйкон", 
        "/pycon", 
        "Тестирующая система для решения задач по алгоритмическому программированию. Финальный проект Яндекс.Лицея. Прошёл тестирование на реальных студентах.")
        +content-block("/static/img/untitled/logo.png", 
        "Untitled", 
        "/untitled", 
        "Самая каноничная RPG, которую можно себе представить. Характеристики, оружие, магия (и фаерболы, да), эффекты, заклинания, мобы и боссы. Проект Яндекс.Лицея.")
    +content-block("/static/img/chatile/logo.png", 
        "Chatile", 
        "/chatile", 
        "Лёгкий и гибкий консольный чат на чистых сокетах. Нужен для удобного общения без использования графического интерфейса. Подходит для быстрой корпоративной связи. Разработан на DevHack 2020.")
    +content-block("/static/img/chekker/logo.png", 
        "Чеккер", 
        "/chekker", 
        "Платформа для проверки знаний с помощью тестов. Автономно поддерживается, сильно автоматизирует учебный процесс, легко масштабируется. Проходит альфа-тестирование.")
    +content-block("/static/img/qladmin/logo.png", 
        "QLAdmin", 
        "qladmin", 
        "Приложение для администрирования баз данных SQLite3 на Python и Qt с базовыми функциями для работы с таблицами, простым интерфейсом и низким порогом входа. Проект Яндекс.Лицея.")

    #text

    +content-block("/static/img/wspectator.png", 
        "Нет, я не псих", "https://t.me/wspectator", 
        "Канал в Телеграме, где я думаю текстом уже три года. Изначально был про ненависть и рейдж, а потом оказалось, что я, наоборот, всё обожаю. Пишу редко.", 
        true)
    +content-block("/static/img/onedreaming.png", 
        "Сны", "https://t.me/onedreaming", 
        "За полтора года мне приснился сто семьдесят один сон, и каждый из них я кратко записывал в заметки. Чтобы не забыть их полностью, я решил переписать часть снов более подробно. Пишу часто.", 
        true)

    lspace
    #contact

    div.mail
      a.implicit(href="mailto:a@cdarr.ru")
        span.gradient
          | a@cdarr.ru

    span.big
      | И ещё: 
      a(href="https://github.com/AdamArutyunov")
        | Гитхаб
      |, 
      a(href="https://twitter.com/adam_arutyunov")
        | Твиттер
      |, 
      a(href="https://www.instagram.com/cdarrrr/")
        | Инстаграм
      |, 
      a(href="https://t.me/adam_arutyunov")
        | Телеграм