extends base.pug

mixin content-block(logo_url, title, url, description, external=false, news=false)
  a.implicit(href=url)
    div.content-block
      div.project-logo.alpha.rounded
        img(src=logo_url)
      div.project-description-wrapper.alpha.rounded
        div.description
          h5.project-title
            span.a(href=url)
              =title
            if external == true
              img.external-link(src="/static/img/external_link.png")
            if news == true
              span.new-project
                | N E W 

          sspace
          sspace

          span.big
            =description

block content
  header.big
    div.svg#logo
      img(src="/static/svg/circle.svg")
    div.fline
      div.me
        h1
          | Я
      div.line
        svg(width="100%" height="100%")
          rect(fill="#000" width="100%" height="100%")
    h2
      | Адам Арутюнов

  mspace

  div#background
    div.svg#oval
      img(src="/static/svg/oval.svg")
    div.svg#line
      img(src="/static/svg/line.svg")
    div.svg#hexagon
      img(src="/static/svg/hexagon.svg")

  div#main
    #menu
      a.dashed(href="#text")
        | Пишу
      | ⋅
      a.dashed(href="#code")
        | Мешки ворочаю
      | ⋅
      a(href="/trip")
        | Трипы
      | ⋅
      a(href="/metro")
        | Метро
      | ⋅
      a(href="/shop")
        | <b>?????????</b>

    
    #text

    each project in projects.text
        +content-block(project.logo_url, project.title, project.url, project.description, project.external, project.new)

    #code

    each project in projects.code
        +content-block(project.logo_url, project.title, project.url, project.description, project.external, project.new)

    lspace
    #contact

    div.mail
      a.implicit.no-padding(href="mailto:a@cdarr.ru")
        span.gradient
          | a@cdarr.ru

    span.big
      | И ещё: 
      a(href="https://github.com/AdamArutyunov")
        | Гитхаб
      |, 
      a(href="https://twitter.com/adam_arutyunov")
        | Твиттер
      |, 
      a(href="https://www.instagram.com/cdarrrr/")
        | Инстаграм
      |, 
      a(href="https://t.me/adam_arutyunov")
        | Телеграм
